<h1>Update Supplier</h1>
<%= form_for @supplier, :html => {:method => 'put'}, :url => company_supplier_path(@company, @supplier) do |f| %>
  <%= f.text_field 'name', :placeholder => 'Supplier Name' %>
  <%= f.submit 'Update Supplier Name' %>
<% end %>

<%= link_to 'add new product', new_supplier_product_path(@supplier) %>
<table id="products_table">
  <thead>
    <tr>
      <th colspan="3">Products</th>
    </tr>
  </thead>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= link_to 'edit', edit_supplier_product_path(@supplier, product), :class => 'edit_product_btn' %></td>
        <td><%= link_to 'delete', supplier_product_path(@supplier, product), :method => :delete %></td>
      </tr>
    <% end %>
</table>

<%= link_to 'add order / delivery day', new_supplier_order_day_path(@supplier) %>
<table>
  <thead>
    <tr>
      <th colspan="4">Order / Delivery Days</th>
    </tr>
  </thead>
    <% @order_days.each do |order_day| %>
      <tr>
        <td><%= order_day.day %></td>
        <td><%= order_day.duration %></td>
        <td><%= link_to 'edit', edit_supplier_order_day_path(@supplier, order_day) %></td>
        <td><%= link_to 'delete', supplier_order_day_path(@supplier, order_day), :method => :delete %></td>
      </tr>
    <% end %>
</table>