<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><%= link_to 'Meat App', root_path %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
     
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <% if current_user %>
        <li class="header-welcome-text">Hello <%= current_user.first_name %></li>
        <li class="divider"></li>
        <% if current_user.companies.count > 0 %>
          <li><%= link_to 'Suppliers', company_suppliers_path(current_user.companies.first) %></li>
          <li class="divider"></li>
          <li><%= link_to 'Deliveries', company_deliveries_path(current_user.companies.first) %></li>
          <li class="divider"></li>
          <li><%= link_to 'Take Inventory', supplier_list_company_inventories_path(current_user.companies.first) %></li>
          <li class="divider"></li>
          <li><%= link_to 'Place Orders', supplier_list_company_orders_path(current_user.companies.first) %></li>
          <li class="divider"></li>
        <% end %>
        <li><%= link_to 'Signout', signout_path %></li>
      <% else %>
        <li><%= link_to 'Login', login_path %></li>
        <li><%= link_to 'Sign Up', signup_path %></li>
      <% end %>
    </ul>
  </section>
</nav>
<%= render :partial => 'shared/errors', :locals => {:errors => @errors} if @errors %>
<%= render :partial => 'shared/notices', :locals => {:notices => @notices} if @notices %>
<% if @page_header %>
  <h1 class="page_header"><%= @page_header %></h1>
<% end %> 